.div1LinhaTemporal{
    display: flex; 
    align-items: center; 
    text-align: center; 
    height: 50px;
}
.div11LinhaTemporal{
    display:flex; 
    width: 70%; 
    height: 30px; 
    margin-right: auto; 
    margin-left: auto;
}
.divLinhaTemporalPeriodoLetivo{
    height: 30px; 
    width: 0%; 
    border-radius: 20px 20px 20px 20px; 
    border: 2px solid #4e555b; 
    background-color:#DC3545; 
    color:#fff;
}
.divLinhaTemporalPausaLetiva{
    height: 30px; 
    width: 0%; 
    border-radius: 20px 20px 20px 20px; 
    border: 2px solid #4e555b; 
    background-color:#4e555b; 
    color:#fff;
    visibility: hidden;
}