@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100vh;
    background-color: red;
    position: relative;
}
.div1{
    position: absolute;
    display: inline-flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../imagens/backgroundLogin1.jpg);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}
.div1_1{
    display: inline;
    background-color: rgba(0, 0, 255, 0.267);
}
.div1_2{
    display: inline;
    background-color: #3d3f45bb;
    border-radius: 20px;
}
.div1_1_1{
    height: 70%;
    background-color: rgba(172, 255, 47, 0.397);
    position: relative;
}
.div1_1_2{
    height: 30%;
    background-color: rgba(137, 43, 226, 0.356);
}
.div1_1_1 > img{
    height: 250px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (min-width: 1351px){
    .div1_1{
        height: 600px;
        width: 800px;
    }
    .div1_2{
        height: 600px;
        width: 500px;
    }

}

@media only screen and (max-width: 1351px) and (min-width: 1151px){
    .div1_1{
        height: 600px;
        width: 600px;
    }
    .div1_2{
        height: 600px;
        width: 500px;
    }
}

@media only screen and (max-width: 1150px) and (min-width: 951px){
    .div1_1{
        height: 600px;
        width: 400px;
    }
    .div1_2{
        height: 600px;
        width: 500px;
    }
}

@media only screen and (max-width: 950px) and (min-width: 551px){
    .div1_1{
        height: 600px;
        width: 0px;
        visibility: collapse;
    }
    .div1_2{
        height: 600px;
        width: 500px;
    }
}

@media only screen and (max-width: 550px){
    .div1_1{
        height: 500px;
        width: 0px;
        visibility: collapse;
    }
    .div1_2{
        height: 500px;
        width: 300px;
    }
}