@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    position: relative;
    height: 100vh;
    background-image: url(../imagens/background.jpg);

    background-repeat: no-repeat;
    background-size: 80%, 80%;
    background-position: center;
}
.login1{
    position: absolute;
    height: 600px;
    width: 450px;
    background-color: #3b3d43ef;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
.login2{
    margin-top: 50px;
    text-align: center;
    color: rgb(196, 196, 196);
}
.login2 > img{
    height: 100px;
    width: auto;  
}
.login3{
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
}
.txt1{
    color: white;
}
