@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    position: relative;
    height: 100vh;
    background-color:#ffffff;
}

.login{
    position: relative;
    background-image: url(../imagens/backgroundLogin1.jpg);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: center bottom;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    -moz-box-shadow: 0px 0px 100px 100px #EFEFF0;
    box-shadow: 0px 0px 100px 100px #EFEFF0;
}
.login1{
    border-top-right-radius : 20px;
    border-bottom-right-radius : 20px;
    background-color: #3d3f4515;
}
.login1_1{
    position: relative;
    display: inline-block;
    width: 40vw;
}
.login1_1 > img{
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -150%);
    filter: drop-shadow(1px 1px 20px #e5d1d1);
}
.login1_1 > p {
    color: #C62023;
    font-size: 36px;
    font-weight: 600;
    left: 0%;
    transform: translate(0%, -200%);
    width: auto;
    text-align: center;
    filter: drop-shadow(1px 1px 10px #ffffff);
}
.login1_2{
    border-top-right-radius : 20px;
    border-bottom-right-radius : 20px;
    border-top-left-radius : 20px;
    border-bottom-left-radius : 20px;
    position: relative;
    display: inline-block;
    width: 450px;
    background-color: #3d3f45bb;
}
.login1_2_1{
    height: min-content;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 70px;
}
.login1_2_1 > img{
    height: 100px;
    width: auto;  
    filter: drop-shadow(1px 2px 2px #01175f);
    border: 20px;
}
.login1_2_1> h4{
    margin-top: 0px;
    color: white;
    visibility: hidden;
}
.login1_2_2{
    height: min-content;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.txt1{
    color: white;
}
.login1_2_3{
    height: min-content;
    text-align: center;
    margin-top: 40px;
}
#passwordAjuda{
    margin-top: 20px;
    text-decoration: none;
    color: #e7e7e7;
}
#passwordAjuda:hover{
    color: white;
}

@media only screen and (min-width: 1921px){

}
@media only screen and (max-width: 1920px) and (min-width: 1141px) {
    .login{
        position: relative;
        background-image: url(../imagens/backgroundLogin1.jpg);
        background-repeat: no-repeat;
        background-size: 100%, 100%;
        background-position: center bottom;
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        -moz-box-shadow: 0px 0px 100px 100px #EFEFF0;
        box-shadow: 0px 0px 100px 100px #EFEFF0;
    }
}
@media only screen and (max-width: 1140px) and (min-width: 670px){
    .login{
        position: relative;
        background-image: url(../imagens/backgroundLogin1.jpg);
        background-repeat: no-repeat;
        background-size: 100%, 100%;
        background-position: center bottom;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        -moz-box-shadow: 0px 0px 100px 100px #EFEFF0;
        box-shadow: 0px 0px 100px 100px #EFEFF0;
    }
    .login1{
        border-top-right-radius : 20px;
        border-bottom-right-radius : 20px;
        background-color: #3d3f4515;
        min-width: auto;
    }
    .login1_1{
        visibility: collapse;
    }
    .login1_2{
        margin-left: auto;
        margin-right: auto;
        border-top-right-radius : 20px;
        border-bottom-right-radius : 20px;
        border-top-left-radius : 20px;
        border-bottom-left-radius : 20px;
        position: relative;
        width: 375px;
        background-color: #3d3f45bb;
        top: 50%;
        left: -50%;
        transform: translate(50%, 0%);
    }
}
@media only screen and (max-width: 669px){
    .login{
        background-image: url(../imagens/backgroundLogin1.jpg);
        width: 100vw;
    }
    .login1_1{
        visibility: collapse;
        height: 0px;
        width: 0px;
        margin: 0px;
    }
    .login1_2{
        border-top-right-radius : 20px;
        border-bottom-right-radius : 20px;
        border-top-left-radius : 20px;
        border-bottom-left-radius : 20px;
        background-color: #3d3f45bb;
        width: 300px;
        position: relative;
        left: 50%;
        transform: translate(-50%,0%);
    }
    .login1_2_1{
        height: min-content;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top:auto;
        margin-bottom: auto;
    }
    .login1_2_1 > img{
        height: 100px;
        width: auto;  
        filter: drop-shadow(1px 2px 2px #01175f);
        border: 20px;
    }
    .login1_2_1> h4{
        visibility: collapse;
    }
    .login1_2_2{
        height: min-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .login1_2_2{
        height: min-content;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
