.justify-content-center {
    -webkit-box-pack: right!important;
    -ms-flex-pack: right!important;
    justify-content: right!important;
}
.imagemPerfilUpload{
    width: 158px;
    height: 208px; 
    border: 3px solid #696969; 
    border-radius: 10px;
    margin-bottom: 40px;
}

.fotografia1{
    margin-bottom: 0.5rem; 
    visibility: hidden;
}

.fotografia2{
    text-align: center; 
    display: block;
}
